ul,
ol {
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: black;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.accent {
  color: #28a745;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.header-container {
  padding-right: 28px;
  padding-left: 28px;
}

.header {
  background-color: #2c1d3e;
}

.logo {
  color: inherit;
  /* width: 113px; */
  font-size: 35px;
  line-height: calc(42 / 35);
}
.nav-item {
  width: 52px;
  font-size: 18px;
  line-height: calc(28 / 18);
}
.hero-title {
  width: 493px;
  font-weight: 300;
  font-size: 55px;
  line-height: calc(66 / 55);
  text-align: center;
  color: #e9e9e9;

  margin-bottom: 24px;
}
.hero-text {
  width: 459px;
  font-weight: 400;
  font-size: 22px;
  line-height: calc(37 / 22);
  text-align: center;
  color: #e9e9e9;

  margin-bottom: 32px;
}
.hero-btn {
  font-family: inherit;
  font-size: 18px;
  line-height: calc(28 / 18);
  text-align: center;
  padding: 10px 30px;
  background: #28a745;
  border-radius: 5px;
  width: 165px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  column-gap: 40px;
}
.hero {
  background-image: url(../images/hero-background.jpg);
  padding-top: 230px;
  padding-bottom: 280px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.our-team {
  background: #28a745;
}
.container {
}
.our-team-container {
  display: flex;
}
.our-team-content {
}
.our-team-suptitle {
}
.our-team-title {
}
.our-team-text {
}
.our-team-btn {
}

.cases {
}

.cases-container {
}
.cases-text {
  width: 275px;
  font-weight: 300;
  font-size: 20px;
  line-height: calc(33 / 20);
  text-align: center;
  color: #333333;
}
.cases-title {
  width: 275px;
  font-weight: 300;
  font-size: 38px;
  line-height: calc(48 / 38);
  text-align: center;
  color: #333333;
}
.cases-list {
  display: flex;
  flex-wrap: wrap-reverse;
  column-gap: 21px;
  row-gap: 24px;
}

.cases-item {
}

.cases-text-a-title {
  width: 645px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  text-align: center;
  color: #333333;
}

/* --------------------- TEAM ------------- section */

.team {
  /* display: flex; */
}

.team-container {
  padding: 80px 0;
}
.team-title {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height, or 165% */
  text-align: center;
  color: #333333;
  margin-bottom: 24px;
}
.team-header {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  /* identical to box height, or 126% */

  text-align: center;
  color: #333333;
  margin-bottom: 24px;
}

.team-content {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: center;
  color: #333333;
  margin-bottom: 24px;
}

.team-list {
  display: flex;
}

.team-item {
  align-items: center;
  margin-right: 20px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-names {
  text-align: center;
  margin: 20px 0 12px 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  /* identical to box height, or 127% */

  text-align: center;
  color: #333333;
}
.team-position {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-align: center;
  color: #333333;
}

.team-caption {
}

.team-social-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 154px;
	margin-bottom: 294px; */
}
.team-social-item {
  margin-right: 25px;
}

.team-social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  fill: tomato;
}

.team-social-icons-link:focus,
.team-social-icons-link:hover {
  background: #31d0aa;
  border-radius: 50px;
}

/*  */

.feedback-list {
  list-style: none;
  display: flex;
  column-gap: 25px;
  margin: 0;
  padding-top: 20px;
  justify-content: center;
}

.feedback-list-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  color: #333333;
  padding-top: 80px;
  padding-bottom: 32px;
}

.feedback {
  display: flex;
}

.feedback-input {
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  margin-bottom: 60px;
}

.feedback-button {
}

.feedback-item {
  background-color: #f4f4f4;
  padding-left: 20px;
  width: 100%;
  height: 454px;
}

/* ----------footer---------- */

.footer {
  background: #333333;
  height: 110px;
  width: 100%;
}

.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding-top: 6px;
  margin: 0;
}
