ul {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
}
.link {
	text-decoration: none;
}
.list {
	list-style: none;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.feedback-list {
	list-style: none;
	display: flex;
	column-gap: 25px;
	margin: 0;
	padding-top: 20px;
	justify-content: center;
}

.feedback-list-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 38px;
	line-height: 48px;
	color: #333333;
	padding-top: 80px;
	padding-bottom: 32px;
}

.feedback {
	display: flex;
}

.feedback-input {
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #F5F5F5;
	margin-bottom: 32px;
	padding-left: 8px;
}

.feedback-button {
	width: 100%;
	height: 42px;
	background: #28A745;
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
	margin-top: 28px;
	cursor: pointer;
	border: 0;
}

.feedback-item {
	background-color: #F4F4F4;
	padding: 0 50px 0 20px;
	width: 100%;
	height: 454px;
}

/* ----------footer---------- */

.footer {
	background: #333333;
	height: 110px;
}

.copyright {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 6px;
	margin: 0;
}