ul {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
}
.link {
	text-decoration: none;
}
.list {
	list-style: none;
}
.accent {
	color: #28a745;
}

.container {
	width: 1360px;
	margin: 0 auto;
}

.header-container {
	padding-right: 28px;
	padding-left: 28px;
}

.header {
	background-color: #2c1d3e;
}

.logo {
	color: inherit;
	/* width: 113px; */
	font-size: 35px;
	line-height: calc(42 / 35);
}
.nav-item {
	width: 52px;
	font-size: 18px;
	line-height: calc(28 / 18);
}
.hero-title {
	width: 493px;
	font-weight: 300;
	font-size: 55px;
	line-height: calc(66 / 55);
	text-align: center;
	color: #e9e9e9;

  margin-bottom: 24px;
}
.hero-text {
	width: 459px;
	font-weight: 400;
	font-size: 22px;
	line-height: calc(37 / 22);
	text-align: center;
	color: #e9e9e9;

  margin-bottom: 32px;
}
.hero-btn {

  font-family: inherit;
	font-size: 18px;
	line-height: calc(28 / 18);
	text-align: center;
	padding: 10px 30px;
	background: #28a745;
	border-radius: 5px;
	width: 165px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav {
	display: flex;
	column-gap: 40px;
}
.hero {
	background-image: url(../images/hero-background.jpg);
	padding-top: 230px;
	padding-bottom: 280px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
}
.our-team {
  background: #28A745;
}
.container {
}
.our-team-container {
  display: flex;
}
.our-team-content {
  
}
.our-team-suptitle {
}
.our-team-title {
}
.our-team-text {
}
.our-team-btn {
}


.cases {
}

.cases-container {
}
.cases-text {
    width: 275px;
    font-weight: 300;
    font-size: 20px;
    line-height: calc(33 / 20);
    text-align: center;
    color: #333333;

}
.cases-title {
	width: 275px;
    font-weight: 300;
    font-size: 38px;
    line-height: calc(48 / 38);
    text-align: center;
    color: #333333;
}
.cases-list {
	display: flex;
	flex-wrap: wrap-reverse;
	column-gap: 21px;
	row-gap: 24px;
}

.cases-item {
}

.cases-text-a-title {
	width: 645px;
    font-weight: 400;
	font-size: 18px;
    line-height: calc(28 / 18);
    text-align: center;
    color: #333333;
}

.feedback-list {
	list-style: none;
	display: flex;
	column-gap: 25px;
	margin: 0;
	padding-top: 20px;
	justify-content: center;
}

.feedback-list-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 38px;
	line-height: 48px;
	color: #333333;
	padding-top: 80px;
	padding-bottom: 32px;
}

.feedback {
	display: flex;
}

.feedback-input {
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #F5F5F5;
	margin-bottom: 60px;
}

.feedback-button {
	
}

.feedback-item {
	background-color: #F4F4F4;
	padding-left: 20px;
	width: 100%;
	height: 454px;
}

/* ----------footer---------- */

.footer {
	background: #333333;
	height: 110px;
	width: 100%;
}

.copyright {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 6px;
	margin: 0;
}