<section class="cases">
  <div class="container cases-container">
    <p class="cases-text">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text-a-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list list">
      <li class="cases-item">
        <img src="./images/rectangle.jpg" alt="team" />
      </li>
      <li class="cases-item">
        <img src="./images/rectangle-1.jpg" alt="team" />
      </li>
      <li class="cases-item">
        <img src="./images/rectangle-2.jpg" alt="team" />
      </li>
      <li class="cases-item">
        <img src="./images/rectangle-3.jpg" alt="team" />
      </li>
      <li class="cases-item">
        <img src="./images/rectangle-4.jpg" alt="team" />
      </li>
      <li class="cases-item">
        <img src="./images/rectangle-5.jpg" alt="team" />
      </li>
    </ul>
  </div>
</section>
