<section class="hero">
  <h1 class="hero-title">The Sky Is The Limit</h1>
  <p class="hero-text">We provide world class financial assistance</p>
  <button type="button" class="hero-btn">Read More</button>
</section>
<section class="our-team">
  <div class="container our-team-container">
    <img src="./images/img1.jpg" alt="our team" />
    <div class="our-team-content">
      <p class="our-team-suptitle">What you are looking for</p>
      <h2 class="our-team-title">We provide bespoke solutions</h2>
      <p class="our-team-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="our-team-btn" type="button">Read More</button>
    </div>
  </div>
</section>
